@import url("https://fonts.cdnfonts.com/css/cooper-hewitt?styles=34277,34281,34273");
:root {
  --dark: #202723;
  --darkGreen: #3a4741;
  --lightGreen: #5c7470;
  --lightGray: #8da0a4;
  --bone: #b0bfc2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Cooper Hewitt", sans-serif;
  font-weight: 705;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
}
body button:hover {
  transform: scale(1.05);
}
body .container {
  position: fixed;
  width: 100%;
  height: 55px;
  z-index: 10;
}
body .container .navbar {
  display: flex;
  justify-content: end;
  position: fixed;
  color: white;
  width: 100%;
  height: 55px;
}
body .container .navbar .bar-menu {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
body .container .navbar .bar-menu span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(53, 181, 173);
  margin-top: 6px;
  border-radius: 10px;
  transition: all 300ms;
  transform-origin: 0px 100%;
}
body .container .navbar .bar-menu .active-first {
  transform: rotate(45deg) translate(-2px, 1px);
}
body .container .navbar .bar-menu .active-second {
  opacity: 0;
  margin-left: -30px;
}
body .container .navbar .bar-menu .active-third {
  transform: rotate(-45deg) translate(-4px, 2px);
}
body .container .navbar .nav-link {
  position: absolute;
  top: 50px;
  right: -100vw;
  font-size: 40px;
  text-align: center;
  display: grid;
  grid-gap: 2rem;
  padding: 0 1rem 2.5rem 1rem;
  grid-template-rows: repeat(6, 1fr);
  width: 100vw;
  height: calc(100vh - 50px);
  background-color: rgba(28, 28, 28, 0.9);
  transition-delay: 1.5s;
  transition-duration: 2s;
}
body .container .navbar .nav-link a {
  color: rgb(53, 181, 173);
  border-bottom: 2px solid rgb(53, 181, 173);
}
body .container .navbar .nav-link .one {
  width: 100%;
  position: absolute;
  left: 110vw;
  grid-row: 1/2;
  transition-delay: 1.5s;
  transition-duration: 1.5s;
}
body .container .navbar .nav-link .two {
  width: 100%;
  position: absolute;
  left: 110vw;
  grid-row: 2/3;
  transition-delay: 1.2s;
  transition-duration: 1.5s;
}
body .container .navbar .nav-link .three {
  width: 100%;
  position: absolute;
  left: 110vw;
  grid-row: 3/4;
  transition-delay: 0.9s;
  transition-duration: 1.5s;
}
body .container .navbar .nav-link .four {
  width: 100%;
  position: absolute;
  left: 110vw;
  grid-row: 4/5;
  transition-delay: 0.6s;
  transition-duration: 1.5s;
}
body .container .navbar .nav-link .five {
  width: 100%;
  position: absolute;
  left: 110vw;
  grid-row: 5/6;
  transition-delay: 0.3s;
  transition-duration: 1.5s;
}
body .container .navbar .nav-link .six {
  width: 100%;
  position: absolute;
  left: 110vw;
  grid-row: 6/7;
  transition-delay: 0s;
  transition-duration: 1.5s;
}
body .container .navbar .active-nav-link {
  position: absolute;
  top: 50px;
  right: 0;
  font-size: 40px;
  display: grid;
  grid-gap: 2rem;
  padding: 0 1rem 2.5rem 1rem;
  grid-template-rows: repeat(6, 1fr);
  width: 100vw;
  height: calc(100vh - 50px);
  background-color: rgba(28, 28, 28, 0.9);
  transition: 0.5s;
}
body .container .navbar .active-nav-link a {
  color: rgb(53, 181, 173);
  border-bottom: 2px solid rgb(53, 181, 173);
}
body .container .navbar .active-nav-link .active-one {
  width: 100%;
  left: 0;
  grid-row: 1/2;
  transition-delay: 0.2s;
  transition: 2s;
}
body .container .navbar .active-nav-link .active-two {
  width: 100%;
  left: 0;
  grid-row: 2/3;
  transition-delay: 0.7s;
  transition-duration: 2s;
}
body .container .navbar .active-nav-link .active-three {
  width: 100%;
  left: 0;
  grid-row: 3/4;
  transition-delay: 1.2s;
  transition-duration: 2s;
}
body .container .navbar .active-nav-link .active-four {
  width: 100%;
  left: 0;
  grid-row: 4/5;
  transition-delay: 1.7s;
  transition-duration: 2s;
}
body .container .navbar .active-nav-link .active-five {
  width: 100%;
  left: 0;
  grid-row: 5/6;
  transition-delay: 2.2s;
  transition-duration: 2s;
}
body .container .navbar .active-nav-link .active-six {
  width: 100%;
  left: 0;
  grid-row: 6/7;
  transition-delay: 2.7s;
  transition-duration: 2s;
}
body .container .navbar .active-nav-link-down {
  background-color: transparent;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  overflow-y: scroll;
  height: 60px;
  width: 100vw;
  transition: none;
  font-size: 20px;
  padding: 1rem 1rem 0 1.5rem;
  border-bottom: 1px solid gray;
}
body .container .navbar .active-nav-link-down li a {
  color: rgb(53, 181, 173);
}
body .container .navbar .active-nav-link-down .one {
  position: static;
  transition: none;
  background-color: transparent;
}
body .container .navbar .active-nav-link-down .two {
  position: static;
  transition: none;
  background-color: transparent;
}
body .container .navbar .active-nav-link-down .three {
  position: static;
  transition: none;
  background-color: transparent;
}
body .container .navbar .active-nav-link-down .four {
  position: static;
  transition: none;
  background-color: transparent;
}
body .container .navbar .active-nav-link-down .five {
  position: static;
  transition: none;
  background-color: transparent;
}
body .container .navbar .active-nav-link-down .six {
  position: static;
  transition: none;
  background-color: transparent;
}
body section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  padding: 2rem 0 3rem 0;
}
body #home {
  padding-top: 5rem;
}
body #home img {
  width: 60%;
  z-index: 5;
  margin-bottom: 2rem;
  max-width: 300px;
}
body #home .main-container {
  z-index: 2;
  text-align: center;
}
body #home .main-container h1 {
  font-size: 20px;
  text-align: center;
  line-height: 2rem;
  margin: 1rem;
  color: black;
}
body #home .main-container h1 p {
  font-weight: 709;
  font-size: 24px;
}
body #home .main-container .cv {
  margin: 1.5rem 0 1rem 0;
  border-radius: 15px;
  padding: 0.2rem 0;
  background-color: rgba(53, 182, 173, 0.5);
  color: black;
  border: 1px solid black;
}
body #home .main-container .cv:hover {
  transform: scale(1.05);
}
body #home .main-container .typing {
  position: relative;
  width: 180px;
}
body #home .main-container .typing::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 97%;
  background-color: #f5f5f5;
  border-left: 2px black;
  animation: typing 6s steps(19) infinite;
}
@keyframes typing {
  50% {
    left: 97%;
    width: 0px;
  }
  100% {
    left: 0%;
    width: 180px;
  }
}
body #home .bubbles {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  width: 100%;
}
body #home .bubbles .bubble {
  position: relative;
  width: 5px;
  height: 5px;
  background-color: rgb(30, 30, 30);
  border-radius: 50%;
  animation: animate 15s linear infinite;
  animation-duration: calc(60s / var(--i));
}
@keyframes animate {
  0% {
    transform: translateX(95vw) scale(0.5);
  }
  100% {
    transform: translateX(0) scale(0.5);
  }
}
body h2 {
  z-index: 4;
  font-weight: 707;
  margin: 2rem;
  color: rgb(53, 181, 173);
}
body #about .about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #about .about-text p {
  width: 90%;
  max-width: 500px;
  z-index: 4;
  margin: 0 3rem;
  color: rgb(0, 0, 0);
  text-align: justify;
  background-color: transparent;
  border-radius: 20px;
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
}
body #about .about-text .profile_information {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #about .about-text .profile_information .profile_picture {
  text-align: center;
}
body #about .about-text .profile_information .profile_picture img {
  width: 60%;
  max-width: 500px;
}
body #about .about-text .profile_information .media {
  z-index: 4;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 1rem;
  display: flex;
  width: 70%;
  justify-content: space-around;
  gap: 2.25rem;
}
body #about .about-text .profile_information .media a {
  cursor: pointer;
}
body #about .about-text .profile_information .media a .fa-brands {
  font-size: 30px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
body #skills {
  padding-bottom: 6rem;
}
body #skills .skill-container {
  z-index: 10;
  width: 90%;
  display: flex;
  gap: 2rem;
  padding: 2rem 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid grey;
  border-radius: 10px;
}
body #skills .skill-container .card-skill {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 30%;
  max-width: 180px;
  color: black;
  border-radius: 10px;
  border: solid 1px gray;
  box-shadow: 0 0 3px 2px rgb(81, 103, 103);
  font-size: 12px;
}
body #skills .skill-container .card-skill .fa-brands {
  z-index: 3;
  font-size: 40px;
  color: var(--lightGray);
}
body #skills .skill-container .card-skill .fa-html5 {
  position: relative;
  color: rgb(216, 73, 36);
}
body #skills .skill-container .card-skill .fa-html5 .back {
  z-index: -1;
  position: absolute;
  top: 6px;
  right: 6px;
  width: 60%;
  height: 60%;
  background-color: white;
}
body #skills .skill-container .card-skill .fa-css3-alt {
  position: relative;
  color: rgb(36, 73, 216);
}
body #skills .skill-container .card-skill .fa-css3-alt .back {
  z-index: -1;
  position: absolute;
  top: 6px;
  right: 6px;
  width: 60%;
  height: 60%;
  background-color: white;
}
body #skills .skill-container .card-skill .fa-js {
  color: rgb(234, 212, 28);
}
body #skills .skill-container .card-skill .fa-react {
  color: rgb(0, 209, 247);
}
body #skills .skill-container .card-skill .fa-git-alt {
  color: rgb(232, 77, 49);
}
body #skills .skill-container .card-skill .fa-github {
  color: rgb(26, 29, 33);
}
body #skills .skill-container .card-skill:hover {
  transform: scale(1.05);
}
body #training .training-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}
body #training .training-container .training-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: solid 1px gray;
  border-radius: 20px;
  gap: 1rem;
  width: 85%;
  padding: 1rem 0.5rem;
  background-color: #d9d9d9;
}
body #training .training-container .training-card img {
  width: 70%;
  border-radius: 10px;
}
body #training .training-container .training-card p {
  font-size: 11px;
}
body #projects .projects-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
body #projects .projects-container .projects-card {
  width: 90%;
  border: solid 1px gray;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #projects .projects-container .projects-card img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  border: solid 1px gray;
}
body #projects .projects-container .projects-card p {
  width: 90%;
  margin-top: 1rem;
  text-align: center;
  font-weight: 400;
}
body #projects .projects-container .projects-card .button-container {
  display: flex;
  width: 70%;
  justify-content: space-around;
  margin: 1rem 0;
}
body #projects .projects-container .projects-card .button-container button {
  background-color: rgba(53, 181, 173, 0.5);
  border-radius: 20px;
  padding: 0.25rem 1rem;
  border: solid 1px gray;
}
body #contact .contact-container {
  width: 85%;
  border: solid 1px gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
body #contact .contact-container .contact-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
body #contact .contact-container .contact-input input {
  background-color: #f5f5f5;
  border: solid 1px gray;
  border-radius: 10px;
  height: 40px;
  width: 80%;
  padding: 0 0.5rem;
  background-color: #d9d9d9;
}
body #contact .contact-container .contact-input .big {
  background-color: #f5f5f5;
  border: solid 1px gray;
  border-radius: 10px;
  height: 60px;
  width: 80%;
  padding: 0 0.5rem;
  background-color: #d9d9d9;
}
body #contact .contact-container button {
  border-radius: 20px;
  padding: 0.2rem 1.5rem;
  border: solid 1px gray;
  background-color: rgba(53, 181, 173, 0.5);
}
body .copyright {
  padding: 0.5rem;
  border-top: solid 1px gray;
}
body .copyright p {
  font-weight: 400;
  width: 100%;
  text-align: center;
}
body .copyright p span {
  color: #4E8C90;
  font-weight: 705;
}

@media screen and (min-width: 360px) {
  body #home .bubbles .bubble {
    width: 6px;
    height: 6px;
  }
}
@media screen and (min-width: 540px) {
  body #home .bubbles .bubble {
    width: 8px;
    height: 8px;
  }
  body #skills .skill-container {
    width: 70%;
  }
}
@media screen and (min-width: 600px) {
  body #home .bubbles .bubble {
    width: 10px;
    height: 10px;
  }
}
@media screen and (min-width: 720px) {
  body .container .bar-menu {
    display: none;
  }
  body .container .navbar {
    border-bottom: 1px solid gray;
  }
  body .container .navbar .nav-link {
    background-color: transparent;
    position: fixed;
    right: 10px;
    top: 0;
    display: flex;
    height: 60px;
    width: 80vw;
    transition: none;
    font-size: 20px;
    padding: 1rem 0 0 0;
    gap: 1rem;
  }
  body .container .navbar .nav-link li a {
    color: rgb(53, 181, 173);
    border: none;
  }
  body .container .navbar .nav-link li a:hover {
    border-bottom: solid 2px rgb(53, 181, 173);
  }
  body .container .navbar .nav-link li:hover {
    transform: scale(1.05);
  }
  body .container .navbar .nav-link .one {
    position: static;
    transition: none;
  }
  body .container .navbar .nav-link .two {
    position: static;
    transition: none;
  }
  body .container .navbar .nav-link .three {
    position: static;
    transition: none;
  }
  body .container .navbar .nav-link .four {
    position: static;
    transition: none;
  }
  body .container .navbar .nav-link .five {
    position: static;
    transition: none;
  }
  body .container .navbar .nav-link .six {
    position: static;
    transition: none;
  }
  body .container .navbar .active-nav-link {
    background-color: transparent;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    overflow-y: scroll;
    height: 60px;
    width: 100vw;
    transition: none;
    font-size: 20px;
    padding: 1rem 1rem 0 1.5rem;
    border-bottom: 1px solid gray;
  }
  body .container .navbar .active-nav-link li a {
    color: rgb(0, 104, 97);
  }
  body .container .navbar .active-nav-link .one {
    position: static;
    transition: none;
    background-color: transparent;
  }
  body .container .navbar .active-nav-link .two {
    position: static;
    transition: none;
    background-color: transparent;
  }
  body .container .navbar .active-nav-link .three {
    position: static;
    transition: none;
    background-color: transparent;
  }
  body .container .navbar .active-nav-link .four {
    position: static;
    transition: none;
    background-color: transparent;
  }
  body .container .navbar .active-nav-link .five {
    position: static;
    transition: none;
    background-color: transparent;
  }
  body .container .navbar .active-nav-link .six {
    position: static;
    transition: none;
    background-color: transparent;
  }
  body .container .navbar-down {
    background-color: rgb(210, 210, 210);
  }
  body #home {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 4rem;
  }
  body #home .bubbles .bubble {
    width: 10px;
    height: 10px;
  }
  body #home img {
    width: 40%;
    z-index: 5;
    margin-bottom: 2rem;
    max-width: none;
  }
  body #about .about-text {
    width: 95%;
    flex-direction: row;
  }
  body #about .about-text p {
    width: 90%;
    max-width: 500px;
    z-index: 4;
    margin: 0 3rem;
    color: rgb(0, 0, 0);
    text-align: justify;
    background-color: transparent;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    font-size: 24px;
  }
  body #about .about-text .profile_information {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body #about .about-text .profile_information .profile_picture {
    text-align: center;
  }
  body #about .about-text .profile_information .profile_picture img {
    width: 60%;
  }
  body #about .about-text .profile_information .media {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: repear(20, 0.5fr);
  }
  body #about .about-text .profile_information .media .one-brand {
    grid-column: 1/2;
  }
  body #about .about-text .profile_information .media .two-brand {
    grid-column: 2/3;
  }
  body #about .about-text .profile_information .media .three-brand {
    grid-column: 3/4;
  }
  body #about .about-text .profile_information .media .four-brand {
    grid-column: 4;
  }
  body #training .training-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
  }
  body #training .training-container .training-card {
    height: 50%;
    max-width: 400px;
  }
  body #training .training-container .training-card img {
    width: 70%;
    border-radius: 10px;
  }
  body #skills .skill-container {
    padding: 3rem;
    width: 70%;
  }
  body #skills .skill-container .card-skill {
    max-width: 120px;
    width: 30%;
    font-size: 16px;
  }
  body #skills .skill-container .card-skill .fa-brands {
    z-index: 3;
    font-size: 40px;
    color: var(--lightGray);
  }
  body #skills .skill-container .card-skill .fa-html5 {
    position: relative;
    color: rgb(216, 73, 36);
  }
  body #skills .skill-container .card-skill .fa-html5 .back {
    z-index: -1;
    position: absolute;
    top: 6px;
    right: 6px;
    width: 75%;
    height: 75%;
    background-color: white;
  }
  body #skills .skill-container .card-skill .fa-css3-alt {
    position: relative;
    color: rgb(36, 73, 216);
  }
  body #skills .skill-container .card-skill .fa-css3-alt .back {
    z-index: -1;
    position: absolute;
    top: 6px;
    right: 6px;
    width: 75%;
    height: 75%;
    background-color: white;
  }
  body #skills .skill-container .card-skill .fa-js {
    color: rgb(234, 212, 28);
  }
  body #skills .skill-container .card-skill .fa-react {
    color: rgb(0, 209, 247);
  }
  body #skills .skill-container .card-skill .fa-git-alt {
    color: rgb(232, 77, 49);
  }
  body #skills .skill-container .card-skill .fa-github {
    color: rgb(26, 29, 33);
  }
  body #projects .projects-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  body #projects .projects-container .projects-card {
    width: 30%;
    max-width: 300px;
  }
  body #contact .contact-container {
    width: 60%;
    padding: 2rem 0;
  }
  body #contact .contact-container .contact-input input {
    height: 50px;
    font-size: 18px;
  }
  body #contact .contact-container .contact-input .big {
    height: 90px;
    font-size: 18px;
  }
}
@media screen and (min-width: 998px) {
  body #home .bubbles .bubble {
    width: 10px;
    height: 10px;
  }
  body #home .main-container {
    z-index: 2;
    text-align: center;
  }
  body #home .main-container h1 {
    font-size: 30px;
    text-align: center;
    line-height: 2rem;
    margin: 1rem;
    color: black;
  }
  body #home .main-container h1 p {
    padding-top: 0.5rem;
    font-weight: 709;
    font-size: 34px;
  }
  body #home .main-container .cv {
    margin: 1.5rem 0 1rem 0;
    border-radius: 15px;
    padding: 0.2rem 0;
    background-color: rgba(53, 182, 173, 0.5);
    color: black;
    border: 1px solid black;
  }
  body #home img {
    width: 40%;
    z-index: 5;
    margin-bottom: 2rem;
    max-width: none;
  }
  body #skills .skill-container .card-skill {
    max-width: 300px;
    width: 20%;
    margin: 0 2rem;
    font-size: 16px;
  }
  body #skills .skill-container .card-skill .fa-brands {
    z-index: 3;
    font-size: 50px;
    color: var(--lightGray);
  }
  body #skills .skill-container .card-skill .fa-html5 {
    position: relative;
    color: rgb(216, 73, 36);
  }
  body #skills .skill-container .card-skill .fa-html5 .back {
    z-index: -1;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 70%;
    height: 70%;
    background-color: white;
  }
  body #skills .skill-container .card-skill .fa-css3-alt {
    position: relative;
    color: rgb(36, 73, 216);
  }
  body #skills .skill-container .card-skill .fa-css3-alt .back {
    z-index: -1;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 70%;
    height: 70%;
    background-color: white;
  }
  body #skills .skill-container .card-skill .fa-js {
    color: rgb(234, 212, 28);
  }
  body #skills .skill-container .card-skill .fa-react {
    color: rgb(0, 209, 247);
  }
  body #skills .skill-container .card-skill .fa-git-alt {
    color: rgb(232, 77, 49);
  }
  body #skills .skill-container .card-skill .fa-github {
    color: rgb(26, 29, 33);
  }
}
@media screen and (min-width: 1300px) {
  body #skills .skill-container .card-skill {
    max-width: none;
    width: 30%;
  }
  body #skills .skill-container .card-skill .fa-brands {
    z-index: 3;
    font-size: 200px;
    color: var(--lightGray);
  }
  body #skills .skill-container .card-skill .fa-html5 {
    position: relative;
    color: rgb(216, 73, 36);
  }
  body #skills .skill-container .card-skill .fa-html5 .back {
    z-index: -1;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 70%;
    height: 70%;
    background-color: white;
  }
  body #skills .skill-container .card-skill .fa-css3-alt {
    position: relative;
    color: rgb(36, 73, 216);
  }
  body #skills .skill-container .card-skill .fa-css3-alt .back {
    z-index: -1;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 70%;
    height: 70%;
    background-color: white;
  }
  body #skills .skill-container .card-skill .fa-js {
    color: rgb(234, 212, 28);
  }
  body #skills .skill-container .card-skill .fa-react {
    color: rgb(0, 209, 247);
  }
  body #skills .skill-container .card-skill .fa-git-alt {
    color: rgb(232, 77, 49);
  }
  body #skills .skill-container .card-skill .fa-github {
    color: rgb(26, 29, 33);
  }
}/*# sourceMappingURL=style.css.map */